footer
  .container-fluid
    .row.text-center.text-light.bg-dark
      .col-md-4
        hr.my-4.border-top.border-warning
        img(src='./assets/images/logo.png' style='height: 400px;')
        hr.my-4.border-top.border-warning
        p 0772548486
        p quoc27690@gmail.com
        p DaNang, Vietnam
      .col-md-4
        hr.my-4.border-top.border-warning
        h5 Working hours
        hr.my-4.border-top.border-warning
        p Monday-Friday: 8am - 5pm
        p Weekend: 8am - 12am
      .col-md-4
        hr.my-4.border-top.border-warning
        h5 Services
        hr.my-4.border-top.border-warning
        p Outsourcing
        p Website development
        p Mobile applications
      .col-12
        hr.my-4.border-top.border-warning
        h5 LAM ANH QUOC
